<nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">


        <div class="page-header"><h1>TermoSolutions</h1></div>

        <ul class="nav navbar-nav">
            <li><a class="btn btn-outline-primary" href="/">Home</a></li>
            <li><a class="btn btn-outline-primary" href="/data">Manejo de Datos</a></li>
            <li><a class="btn btn-outline-primary" href="/blog">Blog</a></li>
            <li><a class="btn btn-outline-primary" href="/foro">Foro</a></li>
            <li><a class="btn btn-outline-primary" href="/about">About</a></li>
            <!--<li><button class="btn btn-danger navbar-btn">Button</button></li>-->
            <!--<li><a class="btn btn-outline-primary" href="/about" role="button">Link</a></li>-->
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>