<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">

            <div class="jumbotron">
                <h3>Blog</h3>
                <a class="btn btn-outline-primary" href="/crearBlog">crear blog</a>
                <p>Leer Blogs</p>

                <div class="well">
                    
                    <ul>
                            <% for(var i=0; i < blogs_list.length; i++) { %>
                        <li>
                            <p>Autor:<%= blogs_list[i].Autor %></p>
                                
                                <li>
                                <p>Contenido: </p>
                                <%= blogs_list[i].Contenido %>
                                </li>
                                                   
                            
                         <% } %>
                        </li>   
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            

        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>