
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <h1><%= title %></h1>
    <div class="jumbotron">

            <form name="form1" method="POST" action=" ">
                <table>
                    <tr>
                    <td>Autor</td>
                    <td><input type="text" name="nombre" ></td>
                    </tr>
                    <tr>
                    <td>Contenido</td>
                    <td><input type="text" name="contenido" ></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Save" ></td>
                        </tr>
                </table>
                </form>   
               
    
    </div>
    <div class="jumbotron">
    <p>
        Esto tiene EJS asi que debemos pensar si lo mantenemos o no
    </p>

    <p>
        Debemos poner mas contenido supongo
    </p>
    </div>
    <div class="jumbotron">
        <ul>
         
        </ul>
    </div>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>