<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">

            <div class="jumbotron">
                <h3>Base de Datos</h3>
                <p>Para recolectar datos usaremos nuestro ARDUINO MEGA</p>
            </div>
        </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h3>Más los siguientes sensores</h3>
                        <ul>
                            <li>Sensor Barometrico</li>
                            <li>Sensor Temperatura</li>
                            <li>Sensor de Luz</li>
                        </ul>
                    </div>
                </div>
    </div>
    <div class="well">
        <p>La conexión a base de datos</p>
    </div>
</main>

<!--<img width="550" height="336" src="Arduino-Mega.jpg">-->

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>