<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <div class="jumbotron">
        <h2>Control de variables ambientales en un ecosistema controlado</h2>
        <p>
            Un ecosistema es un sistema biológico constituido por una comunidad de seres vivos y el medio natural en que viven.
        </p>
    </div>
    <div class="jumbotron">
        <h2>Objetivo</h2>
        <p>
            EL objetivo de nuestra aplicación es hacer uso de Arduino en conjunto con sensores que nos permitiran hacer un monitoreo
            del ecosistema.
        </p>
        <p>
            Es decir, cada sensor se encargara de obtener parametros. Estos parametros nos permitiran saber el estado del ecosistema en
            términos de húmedad, temperatura, iluminación.
        </p>

    </div>
    <div class="jumbotron">
        <ul>
            <% users.forEach(function(user){ %>
            <%= user.name %>
            <% })%>
        </ul>
    </div>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>