<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <div class="jumbotron">
        <h3>Control de variables ambientales en un ecosistema controlado</h3>
        <p>
            Un ecosistema es un istema biológico constituido por una comunidad de seres vivos y el medio natural en que viven.
        </p>
    </div>
    <div class="jumbotron">
    <p>
        Esto tiene EJS asi que debemos pensar si lo mantenemos o no
    </p>

    <p>
        Debemos poner mas contenido supongo
    </p>
    </div>
    <div class="jumbotron">
        <ul>
            <% users.forEach(function(user){ %>
            <%= user.name %>
            <% })%>
        </ul>
    </div>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>