
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        
        <div class="row">
        
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
        
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
        
                </div>
            </div>
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>