<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">

            <div class="jumbotron">
                <h3>Sesiones</h3>
                <p>Bajo bajo construccion</p>
                <p>Aqui la parte de autenticacion</p>
            </div>

        </div>
        <div class="col-sm-4">

            <div class="well">
                <h3>Patricio Argüello</h3>
                <h3>Kevin Jimenez</h3>
                <h3>Gabriel Mena</h3>
                <h3>Paolo Arrata</h3>
            </div>

        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>