<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    
<div class="col-sm-6 col-sm-offset-3">
    
        <h1><span class="fa fa-sign-in"></span> Signup</h1>
    
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
    
        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
    
            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>
    
        <hr>
    
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>